:root {
  --bibit-primary: #132743;
  --bibit-secondary: #407088;
  --bibit-accent: #70adb5;
  --bibit-bg: #f3e6e3;
}

/* text */
.bibit-text-dark {
  color: var(--bibit-primary);
}
.bibit-text-light {
  color: var(--bibit-secondary);
}

/* button */

.bibit-btn {
  background-color: var(--bibit-primary) !important;
  color: white;
  border: 0;
  font-size: 1.5rem !important;
}
.bibit-btn-small {
  background-color: var(--bibit-primary) !important;
  color: white;
  border: 0;
  font-size: 1.15rem !important;
}

.bibit-btn:hover, .bibit-btn-small:hover {
  background-color: var(--bibit-secondary) !important;
  border-color: var(--bibit-secondary) !important;
}

.bibit-primary {
  background-color: var(--bibit-primary) !important;
}

.bibit-bg {
  background-color: var(--bibit-bg);
}

/* link */
.bibit-link,
.bibit-selected-link,
.bibit-link-dark {
  color: var(--bibit-secondary);
  cursor: pointer;
}

.bibit-selected-link {
  color: white;
}

.bibit-link-dark {
  color: var(--bibit-primary);
}

.bibit-link:hover,
.bibit-selected-link:hover,
.bibit-link-dark:hover {
  color: var(--bibit-secondary);
}

/* navbar */

.bibit-nav {
  background-color: var(--bibit-primary);
  color: white;
}

.bibit-nav a {
  font-weight: normal;
  color: var(--bibit-accent);
}

.bibit-nav a:hover {
  color: var(--bibit-secondary);
}

.bibit-nav a.router-link-exact-active {
  color: white;
}

/* spinner */
.bibit-spinner {
  color: var(--bibit-accent) !important;
}
